data/*
results/embeddings
results/segments
text_manipulation.log
train.log
text_segmenter.egg-info

##DeepTiling
DeepTiling
*/__pycache__
*/*/__pycache__
.vscode
.github
data/*
results/*
cache
__pycache__/
