gensim
nltk
numpy
pandas
pathlib2
scikit-learn
scipy
segeval
sentence-transformers
scikit-learn
tensorboard_logger
tensorboard
tensorboard-data-server
tensorboard-logger
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
termcolor
torch
tqdm
transformers
umap-learn
xlrd
XlsxWriter
